@charset "UTF-8";
header {
	height: 20vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0;
  }
.logo_header{
	height:15vh;
	display: inline;
	margin-left: 5vw;
}
ul{
	display: inline;
}
li{
	display: inline;
	position: right;
	margin: 1vh;
}
/* 左1から3つ目までli */
ul li:nth-child(-n + 3){
	padding-right: 3vw;
}
/* 左から4つ目のli */
ul li:nth-child(4){
	padding-right: 5vw;
}

#short{
	width: 80vw;
	margin: 10vh auto;
}
.main__kv{
	height: 80vh;
	position: relative;
}
.img-main__kv{
	height: 80vh;
	width: 100vw;
	object-fit: cover;
}
.main__kv p{
	position: absolute;
	left: 15vw;
	top: 40vh;
	transform: translate(0, -50%);
	line-height: 4vh;
	font-size: 3vh;
}
.main__about{
	text-align: center;
}
.main__about h2{
	font-size: 3vh;
	margin-top: 2vh;
}
.img_main_about{
	width: 27vw;
	margin: 8vh auto;
}
.main__about p{
	width: 80vw;
	margin-bottom: 30vh;
}
.main__service{
	background-color: rgb(235, 237, 173);
	padding: 2vh 1vw 10vh 1vw;
}
.main__service_bottom, .main__service_top{
	display: flex;
}
.main__service_top{
	height: 25vh;
	width: 80vw;
	margin-bottom: 5vh;
	justify-content: space-between;
}
.main__service_top h2{
	width:27.1vw;
	font-size: 5vh;
}
.main__service_top p{
	height: 17svh;
	margin-top: auto;
	width: 52.9vw;
} 
.main__service_bottom img, .main__service_bottom p{
	width: 24.8vw; 
}
.main__service_bottom img{
	object-fit: contain;
}
.main__service_bottom img:nth-child(-n + 2){
	margin-right:1.8vw;
}
.main__service_bottom h3, .main__service_bottom p{
	margin-top: 5vh;
}
.main__news h2{
	font-size: 5vh;
	border-bottom: solid 1px grey;
}
.main__news div{
	height: 20vh;
	display: flex;
	align-items: center;
}
.date{
	width: 18vw;
}
.footer{
	text-align: center;
}
.logo_bottom{
	margin: 0 auto;
	height: 22vh;
}
.footer p{
	font-size: 2vh;
	color: grey;
	margin-top: 1vh;
	margin-bottom: 10vh;
}